section {
    color: #fff;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    height: 15vh;
  }
  .navBg {
    background-color: #7952b3;
  }
  
  .link{
      margin-left: 10%;
      text-decoration: none;
      color: bisque;
      font-size: x-large;
  }
  