body{
    display: flex;
    justify-content: center;
    width: auto;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img{
    height: auto;
    width: 85vh;
}

.logo-img img{
    height: auto;
    width: 100%;
}
