.carousel{
  text-align: center;
  padding: 1%;
  width: 100vw;
}
  
.carousel-style {
  height: 100%;
}
  
.carousel.slide img {
  width: auto;
  height: 85vh;
}
  
.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
}
  